/* styles.css */

/* styles.css */

:global(body) {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgba(147, 149, 150, 0.7); /* Set your desired background color with alpha channel */
  color: #351eb6;
}

  
  .details-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .details-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .details-content {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .login-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
  }
  
  .login-heading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #51adeb;
  }
  
  .prisoner-photo {
    width: 150px; /* Adjust the size of the photo */
    height: 150px;
    border-radius: 20%;
    margin-bottom: 0px;
  }

  /* styles.css */

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.details-container,
.login-container {
  animation: scaleUp 0.5s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
/* styles.css */

/* .details-container:hover,
.login-container:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #282f33, #374a55);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite;
} */
/* @keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* styles.module.css */
/* .round-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
} */

/* styles.module.css */

/* styles.module.css */

.round-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  background-color: #3498db;
  color: #fff;
  padding: 15px 25px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.round-button:hover {
  background-color: #2980b9;
}






  