
.header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
 
  .subheader {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  
  
  .test-ui {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  
  .card {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(20% - 20px); 
  }
  
  .test-image {
    width: 100%;
    border-radius: 10px 10px 0 0; 
  }
  
  .card h2 {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: #333; 
  }
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666; 
  }

  .card:hover {
    transform: scale(1.05); 
  }
 
  .card-link {
    text-decoration: none; 
  }
  